<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lord Of The Rings Quotes</title>
</head>
<body style="background-color: rgba(104, 170, 170, 0.527);">
    <div style="font-size: 4.5vw; font-family: Times New Roman; text-align: center; margin-bottom: 3vw; margin-top: 3vw;">Pick A Character:</div>
</body>

<div style="text-align: center; margin-left: 20vw; margin-right: 20vw;">
    <form method="get", action="/get/chardata", >
        <input type="submit",  name="name", value="ARAGORN", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="ARWEN", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        
        <input type="submit",  name="name", value="BILBO", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="BOMBADIL", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="BOROMIR", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        
        <input type="submit",  name="name", value="DENETHOR", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        
        <input type="submit",  name="name", value="ELROND", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="ÉOMER", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="ÉOWYN", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        
        <input type="submit",  name="name", value="FARAMIR", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="FRODO", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">

        <input type="submit",  name="name", value="GALADRIEL", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="GANDALF", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="GIMLI", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="GOLLUM", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        
        <input type="submit",  name="name", value="LEGOLAS", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">        

        <input type="submit",  name="name", value="MERRY", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        
        <input type="submit",  name="name", value="PIPPIN", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">

        <input type="submit",  name="name", value="SAM", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="SARUMAN", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="SAURON", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        
        <input type="submit",  name="name", value="THÉODEN", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        <input type="submit",  name="name", value="TREEBEARD", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
        
        <input type="submit",  name="name", value="WORMTONGUE", style="width: 10vw; height: 5vw; background-color: rgb(24, 24, 24); color:white; font-size: 1.5vw; margin-bottom: 1vw; margin-left: 1vw;">
    </form>
</div>

</html>